{%- assign v = site.data.verdicts[include.verdict] -%}
{% if include.noHash %}
{% assign id = '' %}
{% else %}
{% assign id = include.verdict %}
{% endif %}
<a id="{{ id }}" href="/methodology/#{{ include.verdict }}" class="stamp in-article {{ include.verdict }}"><span class="stamp-{{ include.verdict }}" data-text="{%- case include.type -%}
  {%- when "short" -%}{{- v.short -}}
  {%- when "medium" -%}{{- v.title -}}
  {%- when "long" -%}{{- v.message -}}
  {%- else -%}error2: {{- include.verdict -}}
{%- endcase -%}" title="Click or tap here to learn more about this verdict"></span>&nbsp;<i class="diy-info-circle"></i></a> 